<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in Fail</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div style="white-space: nowrap;">
        <h1>Fail to Sign in</h1>


        <form action="/failure" method="post">
            <button type="submit" class="failure">Try Again</button>
        </form>
    </div>
</body>

</html>